<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.author %><% } %></span>
      </span>
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/category') %>
      <%- partial('_partial/post/tag') %>
      <% if(theme.waline.enabled && theme.waline.visitor){ %>
        <span id="<%- url_for(page.path) %>" class="leancloud_visitors" %>">
          <em class="meta-seperator">|</em>
          <i class="fa fa-eye"></i>
          <i class="leancloud-visitors-count"></i>
        </span>
      <% } %>
    </div>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>
<% if (theme.donation.enabled){ %>
  <%- partial('_partial/donation') %>
<% } %>
<%- partial('_partial/comments') %>
